<footer class="ftco-footer ftco-bg-dark ftco-section">
  <p>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    <b
      >Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      All rights reserved<i class="icon-heart" aria-hidden="true"></i> by
      <a
        href="https://trello.com/b/Y084VB5M/02%ED%8C%80%EC%8A%B9%EC%9D%B5-%EC%A7%80%EC%9C%A8-%EB%8F%99%ED%9A%A8"
        target="_blank"
        >Team 2</a
      ></b
    >
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  </p>
</footer>
