<a id="HomeButton" class="ScrollButton"
  ><img src="../../images/home.png" style="width: 50px; height: 50px;"
/></a>
<a id="TopButton" class="ScrollButton"><img src="../../images/top.png" /></a>
<a id="BottomButton" class="ScrollButton"
  ><img src="../../images/bottom.png"
/></a>
