<!DOCTYPE html>
<!--
	Lens by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <style>
      #wrap {
        padding: 1px;
        color: gray;
      }
      .DD {
        text-align: center;
        color: blue;
        size: 30px;
      }
      .abc {
        text-align: center;
        color: white;
      }
      .form {
        text-align: center;
      }
      .container {
        margin-top: 80px;
      }
      input.ng-invalid {
        border: 5px solid red;
      }
      .form {
        font-size: 15px;
        margin-top: 0px;
      }
    </style>
    <link rel="icon" href="./icon/icon/jiyoul.ico" />
    <title>Mapstival-Main</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
    <style>
      #header {
        text-align: left;
      }
    </style>
  </head>
  <body class="is-preload-0 is-preload-1 is-preload-2">
    <!-- Main -->
    <div id="main">
      <!-- Header -->
      <header id="header">
        <div class="container" id="wrap">
          <div class="row">
            <p class="DD">여기는 로고를 넣을 것이다.</p>
            <div class="col-md-6 col-md-offset-3">
              <% if(!session.user_id) { %>
              <form
                name="signUpForm"
                class="form"
                role="form"
                action="user/login"
                method="post"
              >
                <img src="./icon/image/donghyo.jpg" />
                <!--<legend>Mapstival</legend>
                    <h4>로그인</h4>-->

                <input
                  type="text"
                  name="user_id"
                  class="form-control input-lg"
                  placeholder="아이디"
                  ng-model="user.name"
                  ng-required="true"
                  ng-required="true"
                  ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$/"
                />
                <!--<div ng-show="signUpForm.id.$error.pattern" class="alert alert-warning" role="alert">! @ # $ % 등의 특수문자를 포함할 수 없습니다.</div>-->
                <br />
                <input
                  type="password"
                  name="password"
                  class="form-control input-lg"
                  placeholder="비밀번호"
                  ng-model="user.password"
                  ng-required="true"
                  ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$/"
                />
                <!--
										<div ng-show="signUpForm.password.$error.pattern" class="alert alert-warning" role="alert">최소 4글자, 최대 8글자이고, 적어도 1개의 문자나 숫자를 포함해야합니다.</div>
                    -->
                <input
                  value="로그인"
                  type="submit"
                  class="btn btn-lg btn-primary btn-block signup-btn"
                />
              </form>
              <a href="user/signup"
                ><button class="btn btn-lg btn-primary btn-block signup-btn">
                  회원가입
                </button></a
              >

              <% } else {%>
              <form action="/user/logout" method="get">
                <input type="submit" value="로그아웃" />
              </form>
              <% } %>
              <div class="abc">
                <div>
                  <a href="./board.html"
                    ><button
                      class="btn btn-lg btn-primary btn-block signup-btn"
                    >
                      게시판
                    </button></a
                  >
                </div>
                <br /><br />
              </div>
              <div></div>
            </div>
          </div>
        </div>
        <!--
						<h1>Mapstival</h1>
						<p>전국의 축제를 한 눈에 보는 Mapstival</p>
						<ul class="icons">
							<li><a href="./login.html"  class="fas fa-id-card"><span class="label">로그인</span></a></li>
							<li><a href="./signup.html"  class="fas fa-user-circle" ><span class="label">회원가입</span></a></li>
							<li><a href="./board-list.html"  class="fas fa-chalkboard" ><span class="label">게시판</span></a></li>
						</ul>
					-->
      </header>

      <!-- Thumbnail -->
      <section id="thumbnails">
        <article>
          <a
            class="thumbnail"
            href="images/fulls/1-2.gif"
            data-position="left center"
            ><img
              src="images/thumbs/1-1.jpg"
              alt=""
              width="159.5px"
              height="134px"
          /></a>
          <h2>ex) 축제1</h2>
          <p>ex) 축제1에 관한 정보 및 링크.</p>
        </article>
        <article>
          <a
            class="thumbnail"
            href="images/fulls/2-2.png"
            data-position="left center"
            ><img
              src="images/thumbs/2-1.jpg"
              alt=""
              width="159.5px"
              height="134px"
          /></a>
          <h2>ex) 축제2</h2>
          <p>ex) 축제2에 관한 정보 및 링크.</p>
        </article>
        <article>
          <a
            class="thumbnail"
            href="images/fulls/3-2.jpg"
            data-position="left center"
            ><img
              src="images/thumbs/3-1.jpg"
              alt=""
              width="159.5px"
              height="134px"
          /></a>
          <h2>ex) 축제3</h2>
          <p>ex) 축제3에 관한 정보 및 링크.</p>
        </article>
        <article>
          <a
            class="thumbnail"
            href="images/fulls/4-2.jpg"
            data-position="left center"
            ><img
              src="images/thumbs/4-1.jpg"
              alt=""
              width="159.5px"
              height="134px"
          /></a>
          <h2>ex) 축제4</h2>
          <p>ex) 축제4에 관한 정보 및 링크.</p>
        </article>
        <article>
          <a
            class="thumbnail"
            href="images/fulls/5-2.jpg"
            data-position="left center"
            ><img
              src="images/thumbs/5-1.jpg"
              alt=""
              width="159.5px"
              height="134px"
          /></a>
          <h2>ex) 축제5</h2>
          <p>ex) 축제5에 관한 정보 및 링크.</p>
        </article>
        <article>
          <a
            class="thumbnail"
            href="images/fulls/6-2.jpg"
            data-position="left center"
            ><img
              src="images/thumbs/6-1.jpg"
              alt=""
              width="159.5px"
              height="134px"
          /></a>
          <h2>ex) 축제6</h2>
          <p>ex) 축제6에 관한 정보 및 링크.</p>
        </article>
        <!--
						<article>
							<a class="thumbnail" href="images/fulls/07.jpg"><img src="images/thumbs/07.jpg" alt="" /></a>
							<h2>ex) 축제7</h2>
							<p>ex) 축제7에 관한 정보 및 링크.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/08.jpg"><img src="images/thumbs/08.jpg" alt="" /></a>
							<h2>ex) 축제8</h2>
							<p>ex) 축제8에 관한 정보 및 링크.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/09.jpg"><img src="images/thumbs/09.jpg" alt="" /></a>
							<h2>ex) 축제9</h2>
							<p>ex) 축제9에 관한 정보 및 링크.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/10.jpg"><img src="images/thumbs/10.jpg" alt="" /></a>
							<h2>ex) 축제10</h2>
							<p>ex) 축제10에 관한 정보 및 링크.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/11.jpg"><img src="images/thumbs/11.jpg" alt="" /></a>
							<h2>ex) 축제11</h2>
							<p>ex) 축제11에 관한 정보 및 링크.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/12.jpg"><img src="images/thumbs/12.jpg" alt="" /></a>
							<h2>ex) 축제12</h2>
							<p>ex) 축제12에 관한 정보 및 링크.</p>
						</article>
						--></section>

      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          <li>
            &copy;copyright by
            <a
              href="https://trello.com/b/Y084VB5M/02%ED%8C%80%EC%8A%B9%EC%9D%B5-%EC%A7%80%EC%9C%A8-%EB%8F%99%ED%9A%A8"
              target="blank"
              >Team 2</a
            >.
          </li>
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
