<!DOCTYPE html>
<html ng-app="form-demo-app">
  <head>
    <link rel="icon" href="./icon/icon/jiyoul.ico" />
    <meta charset="UTF-8" />
    <title>Mapstival-SignUp</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <style>
      .form {
        text-align: center;
      }
      .container {
        margin-top: 80px;
      }
      input.ng-invalid {
        border: 5px solid red;
      }
    </style>
  </head>
  <body ng-controller="mainCtrl">
    <div class="container" id="wrap">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form action="/user/signup" method="post">
            <legend>Mapstival 회원가입</legend>
            <h4>회원가입 후, 더 많은 기능들을 이용해보세요!</h4>
            <br />
            <input
              type="text"
              name="user_id"
              class="form-control input-lg"
              placeholder="아이디"
              ng-model="user.name"
              ng-required="true"
              ng-required="true"
              ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$/"
            />
            <div
              ng-show="signUpForm.id.$error.pattern"
              class="alert alert-warning"
              role="alert"
            >
              ! @ # $ % 등의 특수문자를 포함할 수 없습니다.
            </div>
            <br />
            <input
              type="password"
              name="password"
              class="form-control input-lg"
              placeholder="비밀번호"
              ng-model="user.password"
              ng-required="true"
              ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$/"
            />
            <div
              ng-show="signUpForm.password.$error.pattern"
              class="alert alert-warning"
              role="alert"
            >
              최소 4글자, 최대 8글자이고, 적어도 1개의 문자나 숫자를
              포함해야합니다.
            </div>
            <br />
            <input
              type="text"
              name="email"
              class="form-control input-lg"
              placeholder="e-mail                                                               ex)abcd@mail.com"
              ng-model="user.name"
              ng-required="true"
              ng-required="true"
            />
            <br />
            <input
              type="text"
              name="phone"
              class="form-control input-lg"
              placeholder="전화번호                                                            ex)010-1234-5678"
              ng-model="user.name"
              ng-required="true"
              ng-required="true"
            />
            <br />
            <input
              type="text"
              name="username"
              class="form-control input-lg"
              placeholder="이름                                                                   ex)홍길동"
              ng-model="user.name"
              ng-required="true"
              ng-required="true"
            />
            <br />
            <input
              type="text"
              name="birthday"
              class="form-control input-lg"
              placeholder="생년월일                                                                   ex)1991-01-01"
              ng-model="user.name"
              ng-required="true"
              ng-required="true"
            />
            <br />
            <label>성별 : </label>
            <input
              type="radio"
              name="sex"
              ng-model="user.gender"
              value="M"
            />남자
            <input
              type="radio"
              name="sex"
              ng-model="user.gender"
              value="F"
            />여자 <br /><br />

            <input
              type="submit"
              class="btn btn-lg btn-primary btn-block signup-btn"
              value="회원가입"
            />
          </form>
          <div></div>
        </div>
      </div>
    </div>
  </body>
</html>
