<!DOCTYPE html>
<html>
  <head>
    <title>mapstival</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        /* margin-top: 10%;
        margin-left: 10%; */
        
        width: 40%;
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
    </style>
  </head>
  <body>
    <p>
    <div id="map"></div>
    </p>


    <script src="../assets/js/gmapScript.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7lGjC1U4IAhcB7eYjAph5r0lkEfKwKuY&callback=initMap"></script>
    <script>(function(){ dataIn('<%= lat %>','<%= equ %>'); })()</script>
  </body>
</html>